/* Logo Slider Animation */
.logo-slider {
  display: flex;
  gap: 4rem;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 5));
  }
}

.logo-slider:hover {
  animation-play-state: paused;
}